<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--==title============================-->
    <title>Codinate</title>
    <!--==Meta Description=================-->
    <meta name="description"
          content="CODINATE helps you elevate your business through innovative solutions and services.">

    <!--==CSS==============================-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--==fav-icon=========================-->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
    <!--==poppins==========================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <!--==font-Awesome=====================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>

<!--==main===========================-->
<section id="main">

    <!--==Navigation==========================-->
    <header id="header">
        <nav class="navigation">
            <!--**logo***********-->

            <!--**menu***********-->
            <ul class="menu">
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="#">Work Samples</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

            <i class="fa-solid fa-language"
               style="color: #ffffff; font-size: 2.3rem;display: block; position: relative; top: 25px; cursor: pointer; margin-right: 7.5%;"></i>
            <!--**contact-btn****-->
        </nav>


        <div class="logo-detail">
            <a class="logo" href="#">
                <img src="{% static 'images/logo.png' %}" alt="CODINATE Logo">
            </a>
            <div class="line"></div>
        </div>
        <div class="choices">
            <div>
                <button class="cross">X</button>
            </div>
            <span>English</span>
            <span>Swedish</span>
            <span>Persian</span>
        </div>
        <!--end-nav-->
    </header>
    <main>
        <div id="container">
            <div class="first-element">
                <div class="detail">
                    <h1>CODINATE Helps You to</h1>
                    <div class="second-line">
                        <div>
                            <span id="text-change"></span>
                        </div>
                        <h2>Your Business</h2>
                    </div>
                    <div class="buttons">
                        <a class="first-button" href="#">
                            <button>Contact Us</button>
                        </a>
                        <a class="second-button" href="#">
                            <button>Social Media</button>
                        </a>
                    </div>
                </div>
                <img src="{% static 'images/programming2.png' %}" alt="Programming illustration">
            </div>

            <div class="second-element">
                <img src="{% static 'images/programming.png' %}" alt="Programming example">
                <div class="detail">
                    <h2>Experience Progress with Us</h2>
                    <div class="second-line">
                        <div>
                            <span>Create</span>
                        </div>
                        <h2>Your Business</h2>
                    </div>
                    <div class="buttons">
                        <a href="#">
                            <button>Services</button>
                        </a>
                        <a href="#">
                            <button>Instagram</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <h2 style="font-size: 2rem;">Footer Place</h2>
    </footer>
</section>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="{% static 'javascript/text.js' %}"></script>
</body>

</html>
