* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*== Main =================================*/
#main {
    width: 100%;
    height: 750px;
    background: #232323;
}

/*== Nav Bar ==============================*/
.navigation {
    position: sticky;
    top: 0;
    width: 1200px;
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 100px;
    padding: 10px 30px;
    background: rgba(27, 32, 44, 0.7); /* Transparent background */
    backdrop-filter: blur(5px);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar stays on top */
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../images/logo.png');
    background-size: cover;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    position: relative;
    display: inline-block;
    margin: 0 18px;
    padding: 10px 0;
}

.menu li a {
    color: #ACEA88;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ffffff;
}

.menu li::before,
.menu li::after {
    content: "";
    height: 2px;
    background-color: #ACEA88;
    position: absolute;
    transition: width 0.2s ease;
}

.menu li::before {
    top: 0;
    left: 0;
    width: 0;
}

.menu li::after {
    bottom: 0;
    right: 0;
    width: 0;
}

.menu li:hover::before,
.menu li:hover::after {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 200px;
}

#container h3, #container span {
    color: #ACEA88;
    font-size: 2.5rem;
}

#container > div > div {
    display: flex;
}

#container button {
    border: none;
    padding: 10px 30px;
    background-color: #57e0c7;
    color: #000000;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#container button:hover {
    color: #262121;
    background-color: #aaaaaa;
    transform: scale(1.1);
}