:root {
    --primary-background: #131a26;
    --primary-text: #E0E0E0;
    --hover-line: #92ddec;;
    --logo-color: #00d2ff;
    --page-text: #FFFFFF;
    --button-background: #92ddec;
    --button-text: #131a26;
    --button-hover-background: #00d2ff;
    --button-hover-text: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
#header{
    background: #0A2540FF;
    height: 130px;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 30px;
    left: 100px;
    margin-right: 100px;
}

/*== Main =================================*/
#main {
    width: 100%;
    height: 600px;
    background: #0A2540FF;
}
.first-element {
    background: #0A2540FF;
    height: 400px;
}

.second-element {
    background: #1b1b1b;
    height: 100vh;
    width: 100%;
}
.third-element {
    background: #0A2540FF;
    height: 100vh;
    width: 100%;
}

.fourth-element {
    background: #1b1b1b;
    height: 100vh;
    width: 100%;
}

/*== Nav Bar ==============================*/
.navigation {
    width: 85%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 7.5%;
    padding: 10px 30px;
    background: none;
}

.logo-detail img {
    width: 170px;
    height: 130px;
    border-radius: 30%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-detail {
    display: flex;
    align-items: center;
}

.menu li {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    margin: 10px 30px;
    transition: all 0.4s ease
}

.menu li a {
    color: var(--primary-text);
    font-weight: 600;
    font-size: 1.3rem;
    transition: color 0.4s ease;
}

.menu li a:hover {
    color: var(--logo-color);
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 500px;

}

#container .first-element > .detail,
#container .second-element > .detail,
#container .third-element > .detail,
#container .fourth-element > .detail{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#container .first-element >.detail #text,
#container .second-element >.detail #text,
#container .third-element >.detail #text,
#container .fourth-element >.detail #text{
    font-size: 1.3rem;
    line-height: 2.6rem;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin-bottom: 65px;
}

#container .first-element >.detail #text span,
#container .second-element >.detail #text span,
#container .third-element >.detail #text span,
#container .fourth-element >.detail #text span{
    font-weight: 900;
    font-size: 2.2rem;
}



#container .first-element button,
#container .second-element button,
#container .third-element button,
#container .fourth-element button{
    display: inline-block;
    border: 2px solid #FFFFFF;
    padding: 10px 26px;
    background: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin: 0 30px ;
}

#container .first-element button:hover,
#container .second-element button:hover,
#container .third-element button:hover,
#container .fourth-element button:hover{
    color: var(--button-hover-text);
    background-color: var(--button-hover-background);
    font-weight: 800;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.line {
    width: 82%;
    border-bottom: 1px solid #adacac;
    margin: 3px auto 150px;

}

#container img {
    width: 370px;
    height: 370px;
    filter: drop-shadow(10px 10px 10px #000000);
    border-radius: 30%;
    margin: 0 auto;

}

.buttons button {
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    background: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;

}


#container button:hover {
    color: var(--button-hover-text);
    background-color: var(--button-hover-background);
    font-weight: 800;
}


footer {
    width: 100%;
    height: 50vh;
    color: white;
    border-top: 1px solid #9a9a9a;
    border-radius: 10px 10px 0 0;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices span {
    margin-bottom: 10px;
}

.choices {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 120px;
    position: absolute;
    top: 53px;
    right: 213px;
    z-index: 3;
    animation: languageAnimation 0.4s ease-in-out;
}

@keyframes languageAnimation {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 0.5;
        height: 60px;
    }
    100% {
        opacity: 1;
        height: 120px;
    }
}

@keyframes languageAnimationRemove {
    0% {
        opacity: 1;
        height: 120px;
    }
    50% {
        opacity: 0.5;
        height: 60px;
    }
    100% {
        opacity: 0;
        height: 0;
        display: none;

    }
}

.choices span {
    color: black;
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 5px;
}

.cross {
    font-size: 0.7rem;
    color: white;
    border: none;
    background: none;
    cursor: pointer;

}

.choices > div {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: red;


}

@keyframes hideChatIcon {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(500px);
        display: none;
    }
}

@keyframes showChatIcon {
    0% {
        display: inline-block;
        transform: translateX(500px);
    }

    50% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes showChatBox {
    0% {
        display: flex;
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes hideChatBox {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(500px);
        display: none;
    }
}

#chat-box {
    width: 29%;
    position: fixed;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    right: 20px;
    bottom: 15px;
    background: #093159;
    border-right: 20px;
    border-radius: 20px;
    transform: translateX(500px);
}


#owner-information {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: #031C36;
}

#owner-information img {
    border-radius: 50%;
    width: 40px;
    margin-left: 20px;
}

#owner-information > div {
    display: flex;
    align-items: center;
}

#cross {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;

    transition: all 0.6s ease-in-out;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 50%;

}

#cross:hover {
    background-color: #8e8787;
}

#owner-information p {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: #ffefef;
    font-size: 1.2rem;
}

#owner-chat {
    align-self: flex-end;
    text-align: right;
    font-size: 0.9rem;
    font-weight: 800;
    background: #031C36;
    color: #FFFFFF;
    font-style: italic;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    word-break: break-word;
    max-width: 280px;

}

#users-chat {
    max-width: 280px;
    font-size: 0.9rem;
    font-weight: 600;

    background-color: #D9D9D9;
    color: #333;
    font-style: italic;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    align-self: flex-start;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

#write-chat textarea {
    width: 80%;
    line-height: 30px;
    height: 30px;
    border: none;
    margin-right: 100px;
    font-size: 0.9rem;
    resize: none;
    overflow: hidden;
    background: #D9D9D9;

}

#write-chat textarea:focus {
    outline: none;
}

#write-chat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background: #D9D9D9;

    border-radius: 0 0 10px 10px;
}

#write-chat button {
    width: 20%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.2s ease-in;
}

#write-chat button:hover {
    transform: scale(1.5);
}

#chats {
    display: flex;
    gap: 1px;
    flex-direction: column;
    padding: 0 15px;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 83%;

}

#chats::-webkit-scrollbar {
    display: none;
}