<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/about.css" %}">
</head>
<body>

<!--==main===========================-->
<section id="main">

    <!--==Navigation==========================-->
    <header id="header">
        <nav class="navigation">
            <!--**logo***********-->
            <a class="logo">
                <img src="{% static "images/logo.png" %}" alt="">
            </a>
            <!--**menu***********-->
            <ul class="menu">
                <li><a href="#">About US</a></li>
                <li><a href="#">Work Samples</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact US</a></li>
            </ul>
            <!--**contact-btn****-->
        </nav>

        <!--end-nav-->
    </header>
</section>
<script src="{% static 'javascript/about.js' %}"></script>
</body>
</html>